.App {
  text-align: center;
}

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

nav {
  display: block;
  width: 100px;
  background: rgb(255, 255, 255);

  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto;
  top: 0px;
}

nav a {
  display: block;

  text-decoration: none;
  font-weight: 800;
  padding: 10px 0;
  margin-top: 100px;
  /* border-right: 1px solid black;  */
}

fieldset {
  width: 60%;
  margin: auto;
  padding: 10px 40px 20px 40px;
  border-radius: 10px;
  background-color: rgb(249, 247, 255);
  border: 0.5px solid rgb(189, 189, 189);
}

legend {
  color: rgb(3, 68, 3);
}

label {
  margin-left: 30px;
}

.heading {
  background-color: rgb(242, 239, 252);
  margin-top: 0px;
  padding: 20px;
}

.card {
  width: 800px;
  margin: auto;
  border: 0.5px solid rgb(215, 215, 215);
  padding: 20px;
  border-radius: 15px;
  text-align: left;
}

.card-description {
  color: grey;
  font-size: small;
}

button {
  padding: 5px 17px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(240, 242, 244);
  
}

h3 {
  margin-top: 0px;
  display: inline;
}

.card-button-star {
  color: rgb(1, 86, 18);
  background-color: rgb(199, 252, 202);
}

button:hover {
  font-weight: 600;
  cursor: pointer;
}

.card-view-details {
  text-decoration: none;
  color: black;
}
.card-view-details:hover {
  font-weight: bold;
}
